proof-of-concept/ProofOfConcept/.vs/
proof-of-concept/ProofOfConcept/obj/Debug/ProofOfConcept.csprojAssemblyReference.cache
proof-of-concept/ProofOfConcept/obj/
proof-of-concept/ProofOfConcept/packages/
proof-of-concept/ProofOfConcept/bin/
